* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  background-color: rgb(255, 250, 250);
  border: 4px solid #f1eded;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
  padding: 10px;
}

.grid div {
  padding: 30px;
  font-size: 20px;
}

.header {
  background-color: #2454c6;
  color: white;
  text-align: center;
  border: 4px solid #000000;
  border-radius: 12px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  padding: 25px !important;
}

.header h1 {
  margin: 5px;
  font-size: 45px;
}

.header p {
  margin: 10px;
  font-size: 22px;
}

.menu {
  background-color: #c8ff91;
  border: 4px solid #f10000;
  border-radius: 12px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.menu h2,
.main h2,
.sidebar h2 {
  text-align: center;
  margin-top: 5px;
  padding-bottom: 15px;
  border-bottom: 2px solid;
}

.menu h2 {
  border-color: #d30000;
}

.menu p {
  padding: 12px 5px;
  margin: 0;
  border-bottom: 1px solid #cce5d2;
}

.main {
  background-color: #ffecb5;
  border: 4px solid #c70000;
  border-radius: 12px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  min-height: 650px;
}

.main h2 {
  border-color: #ce0000;
}

.main-content {
  text-align: center;
  margin-top: 180px;
}

.main-content h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

.main-content p {
  font-size: 20px;
}

.sidebar {
  background-color: #eeeeee;
  border: 4px solid #c70000;
  border-radius: 12px;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.sidebar h2 {
  border-color: #c20101;
}

.sidebar-content {
  background-color: #eee5ff;
  padding: 40px 20px;
  margin-top: 40px;
  border-radius: 12px;
  text-align: center;
}

.footer {
  background-color: #95b2f5;
  border: 4px solid #0018a3;
  border-radius: 12px;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  text-align: center;
  padding: 30px !important;
}

.footer p {
  margin: 8px;
}

.footer a {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
}